body {
    margin: 0;
    padding: 0;

    font-family: "OpenSans-Light", Arial, sans-serif;

    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;

    background-color: #ffffff;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 300;
    src: url(../fonts/opensans.woff) format("woff"), url(../fonts/opensans.woff2) format("woff2");
}

@font-face {
    font-family: "OpenSans-Light";
    font-weight: 300;
    src: url(../fonts/opensanslight.woff) format("woff"), url(../fonts/opensanslight.woff2) format("woff2");
}

@font-face {
    font-family: "Gilroy-ExtraBold";
    font-weight: 700;
    src: url(../fonts/gilroyextrabold.woff) format("woff"), url(../fonts/gilroyextrabold.woff2) format("woff2");
}

@font-face {
    font-family: "Gilroy-Light";
    font-weight: 300;
    src: url(../fonts/gilroylight.woff) format("woff"), url(../fonts/gilroylight.woff2) format("woff2");
}

a {
    text-decoration: none; 
}

/* HEADER */
header {
    background-color: #f7e296;
}

/* logo */
.logo a {
    outline: none;
}

.logo a:hover,
.logo a:focus {
    opacity: 0.6;
}

.logo a:active {
    opacity: 0.3;
}

/* custom-nav */
.custom-nav {
    list-style: none;    
}
.custom-nav a {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #000000;
    background-color: #f7e296;
    outline: none;
}

/* form search */
.site-search {
    color: rgba(0, 0, 0, 0.3);
}

.search-box input {
    width: 108px;
    height: 15px;
}
.search-box input:hover {
    color: rgba(0, 0, 0, 0.6);
}

.search-box input:focus {
    color: #000000;
}

/* nav */
.nav {
    list-style: none;
}
.nav a {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #000000;
    background-color: #f7e296;
    text-transform: uppercase;
    outline: none;
}

.custom-nav a:hover,
.custom-nav a:focus,
.nav a:hover,
.nav a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.custom-nav a:active,
.nav a:active {
    color: rgba(0, 0, 0, 0.3);

}

.popup-nav {
    display: none;
}

/* MAIN */


/* slider-product */
.slogan {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    color: #000000;
}

.desc {
    font-family: "OpenSans-Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
    background-color: #ffffff;
}

.button-product {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #f0c52e;
}

.features li {
    list-style: none;
}

.parameters {
    font-family: "Gilroy-Light", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
    background-color: #ffffff;
}

.benefits {
    font-family: "OpenSans-Light", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #464646;
    background-color: #ffffff;
}

/* popular-product */
.popular-product li {
    list-style: none;
}

.popular-product p {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
    width: 160px;
}

.popular-product a {
    background-color: #f7e296;
    width: 160px;
    height: 160px;
}

/* services */
.services-background {
    background-color: #e5e5e5;
}

.services {
    background-color: #e5e5e5;
}

.services li {
    list-style: none;
}

.services a {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #f0c52e;
}

.services-title {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000000;
}

.services-desc {
    font-family: "OpenSans-Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
    background-color: #e5e5e5;
}

/* popular-brand */
.popular-brand li {
    list-style: none;
    filter: grayscale(100%);
    opacity: 20%;
}

.popular-brand li:hover,
.popular-brand li:focus {
    filter: none;
    opacity: 100%; 
}

/* info */
.info h2 {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000000;
    background-color: #ffffff;
}

.info li {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: #000000;
    background-color: #ffffff;
}

.info a {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #f0c52e;
}

/* FOOTER */

footer {
    background-color: #464646;
}
/* footer-logo */
.footer-logo a{
    outline: none;
}

.footer-logo a:hover,
.footer-logo a:focus {
    opacity: 0.6;
}

.footer-logo a:active {
    opacity: 0.3;
}

/* footer-custom-nav */
.footer-custom-nav {
    list-style: none;
}

.footer-custom-nav a {
    font-size: 15px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.7);
    background-color: #464646;
    outline: none;
}

.footer-custom-nav a:hover,
.footer-custom-nav a:focus {
    color: #ffffff;
}

.footer-custom-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.address {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    background-color: #464646;
}

/* footer-nav */
.footer-nav {
    list-style: none;
}

.footer-nav a {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #ffffff;
    background-color: #464646;
    text-transform: uppercase;
    outline: none;
}

.footer-nav a:hover,
.footer-nav a:focus {
    color: rgba(255, 255, 255, 0.6);
}

.footer-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.telephone {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    background-color: #464646;
}

.telephone a {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    background-color: #464646;
}

/* socials */
.socials {
    list-style: none;
}

.socials a {
    background-color: #464646;
    opacity: 30%;
}

.socials a:hover,
.socials a:focus {
    opacity: 60%;

}

.socials a:active {
    opacity: 10%;

}

/* logo-academy */
.logo-academy a {
    outline: none;
}

.logo-academy a:hover,
.logo-academy a:focus {
    opacity: 0.6;
}

.logo-academy a:active {
    opacity: 0.3;
}

/* popup */
.login-form,
.popup-map {
    display: none;
}
/* visually-hidden */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* PAGE CATALOG*/

/* MAIN */
.subtitle {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000000;
    background-color: #ffffff;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.breadcrumbs li:nth-child(3) {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.background-subject {
    background-color: #d9d9d9;
}

.subject {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #d9d9d9;
    text-transform: uppercase;
}

.filter {
    background-color: #ebebeb;
}

.filter h3 {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ebebeb;
}

.filter ul {
    list-style: none;
}

/* sorting */

.sorting {
    background-color: #ebebeb;
}

.sorting li {
    list-style: none;
}

.sorting h2 {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #ebebeb;
    text-transform: uppercase;
}

.sorting-nav a {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    background-color: #ebebeb;
}

.sorting-nav li:nth-child(1) a {
    color:#000000;
    background-color: #ebebeb;
}

.sorting-nav a:hover,
.sorting-nav a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sorting-nav a:active {
    color: #000000;
}


/* catalog */
.catalog-list {
    background-color: #ffffff;
}

.catalog-list li {
    list-style: none;
}

.catalog-item a {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

.price {
    font-family: "Gilroy-Light", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
    background-color: #ffffff;
}
/* pagination */
.pagination {
    background-color: #ebebeb;
}

.pagination li {
    list-style: none;
}

.control-nav a {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #ebebeb;
}

.control-nav li:nth-child(3) a,
.control-nav li:nth-child(4) a {
    color:rgba(0, 0, 0, 0.3);
    background-color: #ebebeb;
}

/* Сеточные стили */

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}    

/* HEADER */

.main-header {
    display: block;
    min-height: 299px;
    margin: 0 auto;
    margin-top: 40px;
    width: 1160px;    
}
/* Логотип */
.logo {
    position: relative;
    top: -19px;
    margin-left: 59px;
    width: 163px;              
}
/* Пользовательская навигация */
.custom-nav {
    display: flex;
    margin: 0;
    padding: 0;
    width: 1000px;   /* Заданная ширина это правильно? Страховка при переполнении. */
    /*padding-top: 53px;*/ /*Позже, когда вынесу Лого за блок*/
}

.search-box {
    margin-left: 99px;
}

.custom-nav li:nth-child(2) {
    margin-left: 420px;
}

.custom-nav li:nth-child(3) {
    margin-left: 238px;   
}

.custom-nav li:nth-child(4) {
    margin-left: 65px;
}
/* Навигация */
.nav {
    display: flex;
    margin: 0;
    padding: 0;        /*При задавании ширины ломается!!! */
    margin-top: 50px;
    
}

.nav li:nth-child(1) {
    margin-left: 60px;
}

.nav li:nth-child(2) {
    margin-left: 326px;
}

.nav li:nth-child(3) {
    margin-left: 38px;
}

.nav li:nth-child(4) {
    margin-left: 114px;
}

/* MAIN */

/* Основное содержание */
.main-content {
    display: block;
    margin: 0 auto;   
}
/* Slider */
.slider {
    display: flex;
    margin-left: 230px;
    margin-right: 222px;
}

.slider img {
    margin-top: -111px;
}

.slider-desc {
    flex-direction: column;
    margin-left: 125px;
    margin-top: -33px;
}

.slider-desc h2 {
    margin: 0;
}

.desc {
    margin: 0;
    padding: 0;
    margin-top: 31px;
}

.button-product {
    margin-top: 62px;                  /*Почему не работает margin*/   
}

.features {
    display: flex;
    margin: 0;
    padding: 0;
}

.parameters {
    margin: 0;
    padding: 0;
    margin-top: 71px;
}

.benefits {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
.features li:nth-child(2) {
    margin-left: 82px;
}

.features li:nth-child(3) {
    margin-left: 80px;
}

/* Popular-product */
.product-categories {
    margin: 0 auto;
    width: 1160px;
    margin-top: 106px;
}

.popular-product {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: -20px;
    width: 1200px;
    flex-wrap: wrap;
}

.popular-product a {
    display: flex;
    align-items: center;
    justify-content: center;   
}


.popular-product p {
    margin-top: 39px;
    
}
.popular-product li {
    margin-left: 20px;
    margin-right: 20px;
}

/* Services */

.services-background {
    display: flex;
    min-height: 288px;
    margin-top: 184px;
}

.services {
    margin: 0;
    padding: 0;
    margin-left: 140px;
}

.services-list li:nth-child(1) {
    margin-top: -17px;
}

.services-list li:nth-child(2) {
    margin-top: 55px;
}

.services-list li:nth-child(3) {
    margin-top: 55px;
}

.services-info {
    margin-left: 240px;
}

.services-info h2 {
    margin-top: -27px;
}

.services-desc {
    margin-top: 43px;
    width: 426px;
} 

.services-background img {
    margin-left: 132px;
    margin-top: -16px;
}

/* popular-brand */

.popular-brand {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 1160px;
    margin-left: 140px;
    margin-right: 140px;
}

.popular-brand li {
    margin-top: 94px;
}

.popular-brand li:nth-child(2) {
    margin-left: 40px;
}

.popular-brand li:nth-child(3) {
    margin-left: 40px;
}

.popular-brand li:nth-child(4) {
    margin-left: 40px;
}

/* info */

.info h2 {
    margin: 0;
}
.info {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 152px;
}

/* Footer */

.main-footer {
    display: block;
    min-height: 323px;
}

.footer-logo {
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}

.footer-logo a {
    margin-top: 65px;
}

.footer-custom-nav {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 73px;
}

.footer-custom-nav li:nth-child(1) {
    margin-left: 700px;
}

.footer-custom-nav li:nth-child(2) {
    margin-left: 64px;
}

.footer-custom-nav li:nth-child(3) {
    margin-left: 65px;
}

.container-footer-nav {
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}

.address {
    margin: 0;
    margin-top: 40px;
}

.footer-nav {
    display: flex;
    margin-top: 40px;
    margin-left: 166px;
}

.footer-nav li:nth-child(2) {
    margin-left: 38px;
}

.footer-nav li:nth-child(3) {
    margin-left: 38px;
}

.telephone {
    margin-top: 40px;
    margin-left: 206px;
}

.container-socials {
    display: flex;
}

.socials {
    display: flex;
    margin-left: 649px;
}

.socials li:nth-child(2) {
    margin-left: 23px;
}

.socials li:nth-child(3) {
    margin-left: 22px;
}

.logo-academy {
    margin-left: 483px;
}

/* Сеточные стили PAGE CATALOG */

/* Title */

.subtitle {
    margin: 0;
    padding: 0;
    margin-left: 201px;
    margin-top: 44px;
}

/* breadcrumbs */

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 201px;
    margin-top: 30px;
}

.breadcrumbs li:nth-child(2) {
    margin-left: 39px;
}

.breadcrumbs li:nth-child(3) {
    margin-left: 39px;
}

/* .filters-header */

.filters-header {
    display: flex;
    margin-top: 52px;
}

.background-subject {
    width: 467px;
    min-height: 71px;
}

.subject {
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
}

.sorting {
    display: flex;
    margin: 0;
    padding: 0;
    width: 973px;
    min-height: 71px;
}

.sorting h2 {
    margin: 0;
    padding: 0;
    margin-left: 74px;
    margin-top: 30px;
}

.sorting-nav {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.sorting-nav li:nth-child(1) {
    margin-left: 55px;
}

.sorting-nav li:nth-child(2) {
    margin-left: 29px;
}

.sorting-nav li:nth-child(3) {
    margin-left: 31px;
}

/* forms-filters */

.container-filters {
    display: flex;
}

.forms-filters {
    display: flex;
    margin: 0;
    padding: 0;
    width: 467px;
    min-height: 1287px;
}

.filter {
    width: 467px;
}

.filter h3 {
    margin: 0;
    padding: 0;
}

.colors h3 {
    margin-top: 227px;
    margin-left: 199px;
}

.colors ul {
    margin: 0;
    padding: 0;
    margin-top: 35px;
    margin-left: 199px;
}

.bluetooth h3 {
    margin-top: 63px;
    margin-left: 199px;
}

.bluetooth ul {
    margin: 0;
    padding: 0;
    margin-top: 39px;
    margin-left: 199px;
}

.filter button {
    margin-top: 60px;
    margin-left: 199px;
}

/* catalog */

.catalog {
    display: flex;
    margin: 0;
    padding: 0;
    width: 973px;
    margin-top: 69px;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-right: 140px;
    margin-left: 73px;
    flex-wrap: wrap;    
}

.catalog-item {
    margin: 0;
    padding: 0;
    width: 360px;  
}

.name-product {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    flex-wrap: wrap;
}

.name-product a {
    width: 255px;
}

/* pagination */
.pagination {
    display: flex;
    width: 759px;
    margin-top: 41px;
    margin-bottom: 77px;
}

.control-nav {
    display: flex;
    margin: 0;
    padding: 0;
    width: 759px;
    min-height: 70px;
    margin-left: 30px;
    margin-right: 30px;  
}

.control-nav li {
    margin-top: 30px;
}

.control-nav li:nth-child(2) {
    margin-left: 240px;
}

.control-nav li:nth-child(3) {
    margin-left: 31px;
}

.control-nav li:nth-child(4) {
    margin-left: 31px;
}

.control-nav li:nth-child(5) {
    margin-left: 232px;
}
