body {
    margin: 0;
    padding: 0;

    font-family: "OpenSans-Light", Arial, sans-serif;

    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;

    background-color: #ffffff;
}

@font-face {
    font-family: "OpenSans";
    font-weight: 300;
    src: url(../fonts/opensans.woff) format("woff"), url(../fonts/opensans.woff2) format("woff2");
}

@font-face {
    font-family: "OpenSans-Light";
    font-weight: 300;
    src: url(../fonts/opensanslight.woff) format("woff"), url(../fonts/opensanslight.woff2) format("woff2");
}

@font-face {
    font-family: "Gilroy-ExtraBold";
    font-weight: 700;
    src: url(../fonts/gilroyextrabold.woff) format("woff"), url(../fonts/gilroyextrabold.woff2) format("woff2");
}

@font-face {
    font-family: "Gilroy-Light";
    font-weight: 300;
    src: url(../fonts/gilroylight.woff) format("woff"), url(../fonts/gilroylight.woff2) format("woff2");
}

a {
    text-decoration: none; 
}

/* HEADER */
header {
    background-color: #f0c52e;
}

/* logo */
.logo a {
    outline: none;
}

.logo a:hover,
.logo a:focus {
    opacity: 0.6;
}

.logo a:active {
    opacity: 0.3;
}

/* custom-nav */
.custom-nav {
    list-style: none;    
}
.custom-nav a {
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    background-color: #f0c52e;
    outline: none;
}

/* form search */
.site-search {
    color: rgba(0, 0, 0, 0.3);
}

.search-box input:hover {
    color: rgba(0, 0, 0, 0.6);
}

.search-box input:focus {
    color: #000000;
}

/* nav */
.nav {
    list-style: none;
}
.nav a {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #f0c52e;
    text-transform: uppercase;
    outline: none;
}

.custom-nav a:hover,
.custom-nav a:focus,
.nav a:hover,
.nav a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.custom-nav a:active,
.nav a:active {
    color: rgba(0, 0, 0, 0.3);

}

.popup-nav {
    display: none;
}
/* MAIN */


/* slider-product */
.slogan {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    color: #000000;
    background-color: #ffffff;
}

.desc {
    font-family: "OpenSans-Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
    background-color: #ffffff;
}

.button-product {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #f0c52e;
}

.features li {
    list-style: none;
}

.parameters {
    font-family: "Gilroy-Light", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
    background-color: #ffffff;
}

.benefits {
    font-family: "OpenSans-Light", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #464646;
    background-color: #ffffff;
}

/* popular-product */
.popular-product li {
    list-style: none;
}

.popular-product p {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

.popular-product li {
    background-color: #f0c52e;
}

/* services */
.services-background {
    background-color: #e5e5e5;
}

.services {
    background-color: #e5e5e5;
}

.services li {
    list-style: none;
}

.services a {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #f0c52e;
}

.services-title {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000000;
    background-color: #e5e5e5;
}

.services-desc {
    font-family: "OpenSans-Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
    background-color: #e5e5e5;
}

/* popular-brand */
.popular-brand li {
    list-style: none;
}

/* info */
.info h2 {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000000;
    background-color: #ffffff;
}

.info li {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: #000000;
    background-color: #ffffff;
}

.info a {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #f0c52e;
}

/* FOOTER */

footer {
    background-color: #464646;
}
/* footer-logo */
.footer-logo a{
    outline: none;
}

.footer-logo a:hover,
.footer-logo a:focus {
    opacity: 0.6;
}

.footer-logo a:active {
    opacity: 0.3;
}

/* footer-custom-nav */
.footer-custom-nav {
    list-style: none;
}

.footer-custom-nav a {
    font-size: 15px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.7);
    background-color: #464646;
    outline: none;
}

.footer-custom-nav a:hover,
.footer-custom-nav a:focus {
    color: #ffffff;
}

.footer-custom-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.address {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    background-color: #464646;
}

/* footer-nav */
.footer-nav {
    list-style: none;
}

.footer-nav a {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: #464646;
    text-transform: uppercase;
    outline: none;
}

.footer-nav a:hover,
.footer-nav a:focus {
    color: rgba(255, 255, 255, 0.6);
}

.footer-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.telephone {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    background-color: #464646;
}

.telephone a {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    background-color: #464646;
}

/* socials */
.socials {
    list-style: none;
}

.socials a {
    background-color: #464646;
    opacity: 30%;
}

.socials a:hover,
.socials a:focus {
    opacity: 60%;

}

.socials a:active {
    opacity: 10%;

}

/* logo-academy */
.logo-academy a {
    outline: none;
}

.logo-academy a:hover,
.logo-academy a:focus {
    opacity: 0.6;
}

.logo-academy a:active {
    opacity: 0.3;
}

/* popup */
.login-form,
.popup-map {
    display: none;
}

/* PAGE CATALOG*/

/* MAIN */
.subtitle {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000000;
    background-color: #ffffff;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.breadcrumbs li:nth-child(3) {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.background-subject {
    background-color: #d9d9d9;
}

.subject {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #d9d9d9;
    text-transform: uppercase;
}

.filter {
    background-color: #ebebeb;
}

.filter h3 {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ebebeb;
}

.filter ul {
    list-style: none;
}

/* sorting */

.sorting {
    background-color: #ebebeb;
}

.sorting li {
    list-style: none;
}

.sorting h2 {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #ebebeb;
    text-transform: uppercase;
}

.sorting-nav li {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    background-color: #ebebeb;
}

.sorting-nav li:nth-child(2) a,
.sorting-nav li:nth-child(3) a {
    color:rgba(0, 0, 0, 0.3);
    background-color: #ebebeb;
}

/* catalog */
.catalog-list {
    background-color: #ffffff;
}

.catalog-list li {
    list-style: none;
}

.catalog-item a {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

.price {
    font-family: "Gilroy-Light", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
    background-color: #ffffff;
}
/* pagination */
.pagination {
    background-color: #ebebeb;
}

.pagination li {
    list-style: none;
}

.control-nav a {
    font-family: "Gilroy-ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #ebebeb;
}

.control-nav li:nth-child(3) a,
.control-nav li:nth-child(4) a {
    color:rgba(0, 0, 0, 0.3);
    background-color: #ebebeb;
}

